In [9]:
import numpy as np
import pandas as pd

In [12]:
import math

In [32]:
# Generate random integers between 0 and 100 for a 8x5 array
data = np.random.randint(0, 100, size=(8, 5))

# Create DataFrame with specified column names
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D', 'E'])

df.head()

    A   B   C   D   E
0  56  25  24  57  73
1  66  40  40  53  57
2  57  74  88   8  51
3  30  24  91  52  32
4  22  85  48  48  34

In [53]:
class StandardScalerDF:
  """
  fit_transform method similar to standardscaler but instead of returning an np.array
  we return the same dataframe with same column names
  """
  # def __init__(self, df):
  #   self.df = df

  def fit_transform(self, df):
    # loop over each column
    self.rows = df.shape[0]
    self.cols = df.shape[1]
    self.df_new = pd.DataFrame()
    for col in range(self.cols):

      # get mean
      self.mean = df.iloc[:, col].sum() / self.rows

      # get squared distances
      self.l2dist = df.iloc[:, col].apply(lambda x: (x-self.mean)**2)

      # get sum of all distances
      self.var = self.l2dist.sum() / self.rows

      # Divide by total rows and take root
      self.std = math.sqrt(self.var)

      # transform formula z = (x âˆ’ mean) / std
      self.df_new[df.columns[col]] = df.iloc[:, col].apply(lambda x: (x - self.mean) / self.std)
    
    return self.df_new

In [54]:
scaler = StandardScalerDF()

df_new = scaler.fit_transform(df)

df_new

          A         B         C         D         E
0  0.791954 -0.791771 -1.535625  0.529887  1.093506
1  1.352630 -0.229567 -0.921375  0.320549  0.196270
2  0.848022  1.044763  0.921375 -2.034506 -0.140193
3 -0.665802 -0.829251  1.036547  0.268215 -1.205660
4 -1.114343  1.457046 -0.614250  0.058876 -1.093506
5  0.567684  0.894842  0.959765  1.524244  1.654278
6 -0.105127 -1.616337  0.959765  0.320549  0.532734
7 -1.675019  0.070276 -0.806203 -0.987815 -1.037428

In [43]:
from sklearn.preprocessing import StandardScaler

scaler_og = StandardScaler()

x = scaler_og.fit_transform(df)

x

array([[ 0.79195448, -0.79177104, -1.53562462,  0.52988734,  1.0935057 ],
       [ 1.35263023, -0.22956675, -0.92137477,  0.32054913,  0.19627025],
       [ 0.84802206,  1.04476297,  0.92137477, -2.03450569, -0.14019304],
       [-0.66580244, -0.82925133,  1.03654662,  0.26821458, -1.20566013],
       [-1.11434304,  1.45704612, -0.61424985,  0.05887637, -1.0935057 ],
       [ 0.56768419,  0.89484183,  0.95976539,  1.52424382,  1.65427785],
       [-0.1051267 , -1.61633733,  0.95976539,  0.32054913,  0.53273355],
       [-1.67501878,  0.07027554, -0.80620292, -0.98781466, -1.03742849]])